body {
    margin: 0;
    padding: 0;
}
.marquee {
    width: 100%;
    height: 600px;
    overflow: hidden;
    border: 1px solid #ccc;
    background: #ccc;
}
#content {
    width: 90%;
    height: 100%;
    margin: 10px auto;
}
.item {
    background-color: antiquewhite;
    margin: 20px;
    
}